.hanghoaInputNXNL {
    position: relative;
    .tonhh-info {
        text-align: right;
    }
}

.input-select-200 {
    position: relative;
    .ant-select-dropdown {
        width: 200px !important;
    }
}